body {
	margin: 0;
	 padding: 0;
}

table {
	width: 100%;
	border: 1px solid #333;
}

table tbody tr td{
	border: 1px solid #333;
	height: 30px;
}

table tbody tr td {
	text-align: center;
}

.entry-table__caption {
	font-size: 22px;
	cursor: pointer;
}

.entry-table__caption:hover {
	color: red;
}

.pages {
	display: block;
	width: 100%;
	padding: 20px;
	box-sizing: border-box;
	text-align: center;
}

.pages__item {
	font-size: 18px;
	font-weight: 900;
	border: 1px solid #333;
	display: inline-block;
	margin: 0 5px;
	padding: 5px;
	cursor: pointer;
}

.button {
	display: block;
	margin: 20px auto 0;
	height: 30px;
	line-height: 30px;
	border: none;
	border-radius: 30px;
	color: #ffffff;
	background: blueviolet;
	cursor: pointer;
	outline: none;
}

.lodash {
	display: flex;
	flex-wrap: wrap;
	padding: 20px;
}

.lodash__body {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.lodash__method {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	margin-bottom: 20px;
	width: 100%;
}

.lodash__methods-name {
	font-size: 24px;
	font-weight: bold;
}

.lodash__description {
	padding: 5px 0;
}

.lodash__console {
	padding: 0 0 5px 0;
}

.slider {
	width: 100%;
	height: 500px;
	border: 1px solid red;
	position: relative;
}

.slider__nav {
	position: absolute;
	top: 50%;
	z-index: 1;
	width: 100%;
}

.slider__prev {
	float: left;
}

.slider__next {
	float: right;
}

.slider__item {
	display: block;
	height: 500px;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
}

.slider__images {
	width: 100%;
	height: auto;
	opacity: 0;
	transition: all .3s;
}


.slider__images--active {
	opacity: 1;
}
