body {
	margin: 0;
	 padding: 0;
}

table {
	width: 100%;
	border: 1px solid #333;
}

table tbody tr td{
	border: 1px solid #333;
	height: 30px;
}

table tbody tr td {
	text-align: center;
}

.entry-table__caption {
	font-size: 22px;
	cursor: pointer;
}

.entry-table__caption:hover {
	color: red;
}

.pages {
	display: block;
	width: 100%;
	padding: 20px;
	box-sizing: border-box;
	text-align: center;
}

.pages__item {
	font-size: 18px;
	font-weight: 900;
	border: 1px solid #333;
	display: inline-block;
	margin: 0 5px;
	padding: 5px;
	cursor: pointer;
}

.button {
	display: block;
	margin: 20px auto 0;
	height: 30px;
	line-height: 30px;
	border: none;
	border-radius: 30px;
	color: #ffffff;
	background: blueviolet;
	cursor: pointer;
	outline: none;
}