@font-face {
	font-family: Scriptina;
	src: url("../font/Scriptina.ttf") format("truetype");
}

@font-face {
	font-family: AlegreyaRegular;
	src: url("../font/AlegreyaRegular.ttf") format("truetype");
}

@font-face {
	font-family: PlayfairDisplayBold;
	src: url("../font/PlayfairDisplayBold.ttf") format("truetype");
}

@font-face {
	font-family: "ProximaNovaRegular";
	src: url("../font/ProximaNovaRegular.otf") format("truetype");
}

@font-face {
	font-family: AlegreyaBold;
	src: url("../font/AlegreyaBold.ttf") format("truetype");
}

